CREATE DATABASE ufmt;
USE ufmt;

CREATE TABLE IF NOT EXISTS pessoa(
  cpf INT NOT NULL,
  nome VARCHAR(200) NOT NULL,
  sexobiologico ENUM("M", "F") NOT NULL,
  dataNascimento DATE NOT NULL,
  PRIMARY KEY (cpf)
);

CREATE TABLE IF NOT EXISTS curso(
  id INT NOT NULL AUTO_INCREMENT,
  nome VARCHAR(100) NULL,
  nivel VARCHAR(45) NULL,
  PRIMARY KEY (id)
);

CREATE TABLE IF NOT EXISTS matriz(
  id INT NOT NULL,
  vigenciaInicial DATE NOT NULL,
  vigenciaFinal DATE NULL,
  curso_id INT NOT NULL,
  PRIMARY KEY (id),
  FOREIGN KEY (curso_id) REFERENCES curso(id)
);

CREATE TABLE IF NOT EXISTS estudante(
  rga INT NOT NULL,
  ano_ingresso INT NOT NULL,
  pessoa_cpf INT NOT NULL,
  matriz_id INT NOT NULL,
  PRIMARY KEY (rga),
  FOREIGN KEY (pessoa_cpf) REFERENCES pessoa(cpf),
  FOREIGN KEY (matriz_id) REFERENCES matriz(id)
);

CREATE TABLE IF NOT EXISTS disciplina(
  id INT NOT NULL,
  nome VARCHAR(100) NOT NULL,
  chPratica INT NOT NULL,
  chTeorica INT NOT NULL,
  PRIMARY KEY (id)
);

CREATE TABLE IF NOT EXISTS matriz_has_disciplina(
  matriz_id INT NOT NULL,
  disciplina_id INT NOT NULL,
  PRIMARY KEY (matriz_id, disciplina_id),
  FOREIGN KEY (matriz_id) REFERENCES matriz(id),
  FOREIGN KEY (disciplina_id) REFERENCES disciplina(id)
);

CREATE TABLE IF NOT EXISTS semestre(
  codigo VARCHAR(6) NOT NULL,
  dataInicio DATE NOT NULL,
  dataFim DATE NOT NULL,
  PRIMARY KEY (codigo)
);

CREATE TABLE IF NOT EXISTS turma (
  id INT NOT NULL,
  semestre_codigo VARCHAR(6) NOT NULL,
  disciplina_id INT NOT NULL,
  PRIMARY KEY (id),
  FOREIGN KEY (semestre_codigo) REFERENCES semestre(codigo),
  FOREIGN KEY (disciplina_id) REFERENCES disciplina(id)
);

CREATE TABLE IF NOT EXISTS professor (
  siape INT NOT NULL,
  areaConcurso VARCHAR(100) NOT NULL,
  pessoa_cpf INT NOT NULL,
  PRIMARY KEY (siape),
  FOREIGN KEY (pessoa_cpf) REFERENCES pessoa(cpf)
);

CREATE TABLE IF NOT EXISTS professor_turma (
  professor_siape INT NOT NULL,
  turma_id INT NOT NULL,
  PRIMARY KEY (professor_siape, turma_id),
  FOREIGN KEY (professor_siape) REFERENCES professor (siape),
  FOREIGN KEY (turma_id) REFERENCES turma (id)
);

CREATE TABLE IF NOT EXISTS matricula (
  estudante_rga INT NOT NULL,
  turma_id INT NOT NULL,
  notaFinal DECIMAL(4,2) NULL,
  frequencia DECIMAL(4,2) NULL,
  PRIMARY KEY (estudante_rga, turma_id),
  FOREIGN KEY (estudante_rga) REFERENCES estudante (rga),
  FOREIGN KEY (turma_id) REFERENCES turma (id)
);

CREATE TABLE IF NOT EXISTS avaliacao (
  id INT NOT NULL,
  nota DECIMAL(4,2) NOT NULL,
  matricula_estudante_rga INT NOT NULL,
  matricula_turma_id INT NOT NULL,
  PRIMARY KEY (id),
  FOREIGN KEY (matricula_estudante_rga , matricula_turma_id) REFERENCES matricula (estudante_rga , turma_id)
);